body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

header {
  background: #005bea;
  color: #fff;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 40px;
  text-align: center;
  background: #e5eefc;
}

.highlights ul {
  padding: 20px;
  list-style: square;
}

form input, form button {
  display: block;
  width: 300px;
  padding: 12px;
  margin: 10px 0;
}

.whatsapp {
  display: inline-block;
  background: #25d366;
  padding: 12px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
